@page  
{ 
    size: A4;
    margin: 0;  
} 

body  
{ 
    margin: 3mm;  
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
}

*{
    box-sizing: border-box;
}

@media print {
	.card-group{ page-break-before: always; }
}

.card-list {
   
}

.card-group{ 
    display: flex;
    flex-flow: wrap;
}

.card-group:not(:first-child){
    margin-top: 3mm;
}

.card {
    width: 63mm;
    height: 88mm;
    border: 1px solid black;
    margin: 0mm;
    padding: 3mm;
    border-radius: 3mm;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-title {
    text-align: center;
}

.card-desc {
    margin: auto 0 0 0;
    padding: 2mm;
    border: 1px solid black;
}