<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{title}}</title>

  <link rel="stylesheet" href="{{base}}/styles.css">
</head>
<body>
    <div class="card-list">
        {{#each cards}}
            {{#if @first}}<div class="card-group">{{/if}}
                
            <div class="card">
                <div class="card-title">{{NAME}}</div>
                {{#if DESC }}<div class="card-desc">{{DESC}}</div>{{/if}}
            </div>

            {{#unless @last}}{{#modulo gap=9}}</div><div class="card-group">{{/modulo}}{{/unless}}
            {{#if @last}}</div>{{/if}}
        {{/each}}
    </div>
</body>
</html>
